<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PRUEBASWEB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
	  <add name="SERINGTECConnectionString" connectionString="Server= 192.168.0.231\INS_APP_SER_PROD;User Id=Pruebas;Pwd=Pruebas2019;Database=_04_HSE_REPORTESDECASOS;Pooling=False" />
	  <add name="SERINGTECConnectionString_Ontime" connectionString="Server= 192.168.0.231\INS_APP_SER_PROD;User Id=Pruebas;Pwd=Pruebas2019;Database=SERINGTEC;Pooling=False" />    <add name="SERINGTEGAPLICACION" connectionString="02"/>
    <add name="RutaArchivo" connectionString="C:\CAPACITACION\_04_HSE\HSG\HSG\"/>
    <add name="RutaArchivoExcel" connectionString="C:\CAPACITACION\_04_HSE\HSG\HSG\Archivos\"/>
    <add name="rutaApliacion" connectionString="C:\CAPACITACION\_04_HSE\HSG\HSG\"/>
    <add name="rutaArchivoAdjunto" connectionString="C:\CAPACITACION\_04_HSE\HSG\HSG\"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
   <identity impersonate="true"/>
    <globalization culture="es-CO" uiCulture="es-CO"/>
    <httpRuntime executionTimeout="100000" maxRequestLength="1048576000"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>


      </assemblies>
    </compilation>

    <!--<sanitizer defaultProvider="AntiXssSanitizerProvider">
  <providers>
   <add name="AntiXssSanitizerProvider" 
            type="AjaxControlToolkit.Sanitizer.
              AntiXssSanitizerProvider"></add>
  </providers>
 </sanitizer>-->
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceContabilidadSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1583/WebServiceContabilidad.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceContabilidadSoap" contract="ServiceReferenceContabilidad.WebServiceContabilidadSoap" name="WebServiceContabilidadSoap"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
